
# Embedding Configuration
EMBEDDING_MODEL= "text-embedding-3-small"
LOCAL_EMBEDDING_MODEL = "qwen3-embedding:8b" or "nomic-embed-text:v1.5"

# LLM Configuration
LLM_MODEL = "gpt-4o-mini"
LOCAL_LLM_MODEL = "qwen2.5:3b"
# LOCAL_LLM_MODEL = "gemma4:e4b"
LOCAL_LLM_MODEL = "llama3.1:latest"
TEMPERATURE = 0.5

# Vector Store Configuration
VECTORSTORE_PATH = "./vectorstoredb"

# Chunking Configuration
CHUNKING_STRATEGY = "SEMANTIC_THEN_RECURSIVE"  # Options: "RECURSIVE_CHARACTER", "SEMANTIC", "SEMANTIC_THEN_RECURSIVE"
CHUNK_TYPE = "HYBRID"  # Options: "RECURSIVE", "SEMANTIC", "HYBRID"

# Recursive Character Chunking Configuration
CHUNK_SIZE = 1000     # Options: 1000 for RECURSSIVE, 500-800 for SEMANTIC_THEN_RECURSIVE 
CHUNK_OVERLAP = 150   # Options: 150 for RECURSSIVE, 100-150 for SEMANTIC_THEN_RECURSIVE
LENGTH_FUNCTION = "token_length"  # Options: "token_length", "character_length", "len"

# Semantic Chunking Configuration
BREAKPOINT_THRESHOLD_TYPE = "percentile"  # Options: "percentile", "standard_deviation", "interquartile", "gradient"
BREAKPOINT_THRESHOLD_AMOUNT = "95"  # Options: "90-95 for percentile", "05 - 0.3 for standard_deviation", "1.5 for interquartile", "% for gradient"
MINIMUM_CHUNK_SIZE = 200    
BUFFER_SIZE = 1             # Options: 1 for Technical docs, 21 for Narrative docs (experimentation needed based on your documents and chunking strategy) 

# RAG Prompt Configuration
RAG_PROMPT= "RAG_PROMPT_GROUNDED"   # Options: RAG_PROMPT_GROUNDED, RAG_PROMPT_ANALYSIS, RAG_PROMPT_CREATIVE